@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-page {
  @apply flex justify-center items-center h-full w-full bg-form-neutral-medium;
}

.user-form {
  @apply flex flex-col bg-form-neutral-dark rounded-3xl p-12 gap-8 w-full
    shadow-xl;
}

.form-header {
  @apply text-form-primary-dark text-2xl text-center font-extrabold;
}

.form-input {
  @apply border-2 border-gray-300 border-solid p-2 px-4 w-full rounded-sm
    bg-form-neutral-light placeholder-gray-400 focus:border-form-primary-medium
    outline-none caret-black text-gray-700;
}

.form-label {
  @apply text-gray-700 text-sm;
}

.form-submit {
  @apply bg-form-primary-medium cursor-pointer rounded-sm text-white
    font-bold p-2;
}
